# OS
.DS_Store
SmartST2020/
.pnpm-store/

# Build
target/
tools/sonarqube

# IDE
.idea/
*.iml

# Frontend
yst-ui/node_modules/
yst-ui/dist/
yst-ui/pnpm-lock.yaml

# Backend
yst-server/target/

# Logs
*.log